.myTable{
	width: 100%;
	text-align: left;
	vertical-align: middle;
}
td{
	height: 30px;
	padding:10px;
}
table, th, td {
    border: 1px solid white;
}
th{
	text-align: center;
}
td.s{
	text-align: center;
}
td.n{
	text-align: right;
}
.footer{
	align: center;
}
.jumbotron{
	background: url("../SkyCast/imgs/clear.jpg");
	background-size: cover;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}
body{
	background-image: url("../SkyCast/imgs/background.jpg");
	color: white;
}
button, input{
	color: black;
}
a{
	color: #003366;
}
caption{
	color: white;
	text-align: center;
	border: 1px solid white;
}